.janela {
    display: flex;
    width: 90vw;
    height: 80vh;
    font-family: 'Exo 2', sans-serif;
    background-color: rgba(0,0,0,0.7); 
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.header-left {
    width: 20%;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border-right:3px solid rgb(139, 0, 0);
}

.dash {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    padding-top: 30px;
    color: white;
    border-radius: 10px;
}

.header-left h1 {
    color: rgb(139, 0, 0);
    margin-bottom: 30px;
}

.header-left .hello {
    color: #ddd;
    margin-bottom: 10px;
}

.btn-nav, .btn-nav-white, .btn-logout {
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-nav {
    background-color: rgb(139, 0, 0);
    color: white;
    font-weight: bold;
}

.btn-nav-white {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.btn-nav-white:hover {
    background-color: white;
    color: black;
}

.btn-nav a, .btn-nav-white a {
    text-decoration: none;
    color: inherit;
}

.btn-logout {
    margin-top: auto; 
    margin-bottom: 30px;
    background-color: rgb(139, 0, 0);
    color: white;
}

.btns-dash {
    width: 90%;
    margin-top: -20px;
    display: flex;
    justify-content: center;
}

#graficos {
    width: 90%;   
    height: 75%; 
    background-color: rgba(0,0,0,0.7);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

.graph {
    width: 100%;
    height: 100%;
    position: relative; 
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

.card_kpi{
    background-color:rgba(0,0,0,0.7);
    padding: 20px;
    border-radius: 10px; 
    text-align: center; 
    width: 40%; 
    border-bottom: 3px solid rgb(139, 0, 0);
}

.kpi_container{
    display: flex; 
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
}

.card_kpi h3{
    color: #ccc;
}

#kpi_peso{
    color: white;
    font-size: 2.5rem; 
    font-weight: bold;
}

#kpi_imc{
    color: white;
    font-size: 2.5rem; 
    font-weight: bold;
}

#kpi_imc_texto{
    color: white;
}  

/*Treinos Sugeridos Treinos Sugeridos Treinos Sugeridos  */

#kpi_prioridade{
    color: white;
    font-weight: bold;
}

#kpi_disponibilidade{
    color: white;
    font-weight: bold;
}

.sugestao_container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
    color: white;
    border-radius: 10px;
}

.container_treino {
    display: flex;
    flex-wrap: wrap;     
    justify-content: center;
    gap: 30px;           
    width: 100%;
    margin-top: 30px;
}

.card_dia_treino {
    background-color: rgba(0, 0, 0, 0.9); 
    border-radius: 15px;
    padding: 20px;
    width: 250px; 
    color: white;
}

.card_dia_treino h3 {
    color: #8b0000;
    border-bottom: 1px solid white;
    text-align: center;
    margin-top: 0;
}
