.janela {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: 'Exo 2', sans-serif;
    background-color: #1e1e1e; 
}

.header-left {
    width: 20%;
    height: 100%;
    background-color: #161618;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    border-right: 2px solid #e6005a;
}

.dash {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    padding-top: 50px;
    color: white;
}

.header-left h1 {
    color: #e6005a;
    margin-bottom: 30px;
}

.header-left .hello {
    color: #ddd;
    margin-bottom: 40px;
}

.btn-nav, .btn-nav-white, .btn-logout {
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-nav {
    background-color: #e6005a;
    color: white;
    font-weight: bold;
}

.btn-nav-white {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.btn-nav-white:hover {
    background-color: white;
    color: black;
}

.btn-nav a, .btn-nav-white a {
    text-decoration: none;
    color: inherit;
}

.btn-logout {
    margin-top: auto; 
    margin-bottom: 30px;
    background-color: #5ca0b8;
    color: white;
}

.btns-dash {
    width: 90%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#graficos {
    width: 90%;   
    height: 60%; 
    background-color: #252527;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

.graph {
    width: 100%;
    height: 100%;
    position: relative; 
}

canvas {
    width: 100% !important;
    height: 100% !important;
}