html {
    background-image: url(../assets/imgs/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 80px;
}

footer {
    width: 100%;
    background-color: rgb(139, 0, 0);
    color: #fff;
    text-align: center;
    padding: 1vw 0;
    height: 6vw;
    margin: 0;
    margin-top: auto;
    font-size: 1vw;
}

header {
    background-color: rgba(139, 0, 0, 0.9);
    top: 0;
    position: fixed;
    width: 100%;
    border-bottom: solid black;
}

header .container_header {
    margin: 0.5vw;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navbar li {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1vw;
}

.navbar li:hover {
    transition: 100ms;
    font-weight: 600;
    scale: 1.05;
}

.corpo {
    color: rgb(255, 255, 255);
    font-size: 4vh;
    text-shadow: 5px 5px 7px #000;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    max-width: 50vw;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 5%
}

.imagem img {
    width: 23vw;
    margin-top: -10%;
}

.imagem p {
    text-align: center;
    margin-top: -10%;
}

.container_imagem {
    color: rgb(255, 255, 255);
    font-size: 4vh;
    text-shadow: 5px 5px 7px #000;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    max-width: 40vw;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5%;
}

.texto_projeto {
    color: rgb(255, 255, 255);
    font-size: 2vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    max-width: 50vw;
    margin-top: -2%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5%;
}

.imagem_sobre img {
    width: 7vw;
}


.legenda {
    margin-top: -35px;
    margin-left: 70px;
}

.legenda2 {
    margin-top: 10px;
    margin-left: 10px;
}

.legenda3 {
    margin-top: -35px;
    margin-left: 10px;
}

.linha_tempo {
    color: rgb(255, 255, 255);
    font-size: 2vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    max-width: 50vw;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5%;
}

.linha_tempo h2 {
    margin-bottom: -10px;
}

.titulo_linha {
    display: flex;
    align-items: center;
    padding: 3%;
    gap: 20px;
}

.titulo_linha2 {
    display: flex;
    align-items: center;
    padding: 3%;
    gap: 20px;
}

.titulo_linha3 {
    display: flex;
    align-items: center;
    padding: 3%;
    gap: 20px;
}

.titulo_linha img {
    width: 15vw;
    height: 15vw;
    object-fit: contain;
    border-radius: 20px;
    margin-top: -5px;
}

.titulo_linha2 img {
    width: 15vw;
    height: 15vw;
    object-fit: contain;
    border-radius: 20px;
    margin-top: 5px;
}

.titulo_linha3 img {
    width: 15vw;
    height: 15vw;
    object-fit: contain;
    border-radius: 20px;
    margin-top: -35px;
}

.titulo_linha p {
    flex: 1;
    text-align: left;
}

.container_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 40vw;
    margin: 0 auto;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    border: solid 2px rgb(139, 0, 0);
}

a {
    text-decoration: none;
    color: rgb(139, 0, 0)
}

.formulario {
    padding: 5px;
    width: 80%;
}


.formulario span {
    font-size: 15px;
    font-weight: 800;
    display: flex;
}

.formulario input {
    text-align: center;
    border-radius: 10px;
}

.campo {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 10px;
}

.botao {
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    color: #000000;
    width: 100px;
    height: 30px;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.botao:hover {
    transition: 200ms;
    font-weight: 600;
    scale: 1.05;
}

.container_cadastro {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 55vh;
    width: 70vw;
    margin-top: 20px;
    margin: auto;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    border: solid 2px rgb(139, 0, 0);
}

.container_cadastro .formulario:first-child {
    border-right: 2px solid rgb(139, 0, 0);
    padding-right: 60px;
    padding-left: 40px;
}

.container_cadastro .formulario:last-child {
    padding-right: 20px;
    padding-left: 60px;
}


